<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ funnel.name }}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/countdown.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% if funnel.offer_end_date %}
    <div class="countdown-wrapper">
        <p>Hurry! Offer expires in:</p>
        <div id="countdown-timer" data-countdown="{{ funnel.offer_end_date|date:'Y-m-d\TH:i:s' }}" data-expired-message="This offer has expired!"></div>
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <script src="/static/js/countdown.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
